
:root {
  --h1: 3.5rem;
  --h2: 3rem;
  --h3:  1.2rem;
  --text-large: 1.6rem;
  --text-medium: 1.275rem;
  --text-small: 1.125rem;
  --header-height: 5.6rem;
  --site-max-width: 1280px;
  --gutter-nano: 0.5rem;
  --gutter-micro: 1rem;
  --gutter-x-small: 1.5rem;
  --gutter-small: 2rem;
  --gutter-medium: 2.5rem;
  --gutter-large: 3rem;
  --gutter-x-large: 6rem;
  --gutter-huge: 12rem;
  --scroll-padding: 4.375rem;
  --radius: 85px;
}
  
body {
  --bg-color-primary: #0c0a0a;
  --bg-color-secondary: #161211;
  --important: #fff;
  --sub: #c3c3c3;
  --body: #989898;
  --border: #c0c0c015;
  --border-dark: #c0c0c02f;

  font-size: var(--text-medium);
  color: var(--body);
  background-color: var(--bg-color-primary);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  
html {
  font-family: "Mona Sans", sans-serif;
  box-sizing: border-box;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}
  
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}
  
@media (max-width: 645px) {
  html {
    font-size: 80%;
  }
}

picture,
svg,
img {
  display: block;
  max-inline-size: 100%;
  object-fit: contain;
}
  
textarea {
  resize: none;
}
  

/* ---- Style ---- */
input,
textarea,
button {
  font: inherit;
}
  
p,
h1,
h2,
h3{
  overflow-wrap: break-word;
}
  
h1,
h2,
h3{
  font-stretch: 125%;
  line-height: 1.2;
  color: var(--important);
}
  
.h1 {
  font-size: var(--h1) ;
}
  
.h2 {
  font-size: var(--h2);
  text-align: center;
}
  
.h3 {
  font-size: var(--h3);
}
  
@media (max-width: 845px) {
  :root {
    --h1: 2.845rem;
    --h2: 2.45rem;
    --h3: 1.85rem;
  }
}
  
@media (max-width: 700px) {
  :root {
    --h1: 2.545rem;
  }
}
  
@media (max-width: 545px) {
  :root {
    --h1: 2.4rem;
    --text-large: 1.5rem;
  }
}
  
@media (max-width: 485px) {
  :root {
    --h1: 2.145rem;
    --h2: 1.875rem;
    --h3: 1.6rem;
    --text-large: 1.345rem;
  }
}
  

/* ---- Utilities ---- */
.container {
  max-inline-size: var(--site-max-width);
  margin-inline: auto;
}
  
@media (max-width: 1375px) {
  :root {
    --site-max-width: 1160px;
  }
}
  
@media (max-width: 1275px) {
  .container {
    padding-inline: var(--gutter-small);
  }
}
  
@media (max-width: 1200px) {
  .container {
    padding-inline: var(--gutter-medium);
  }
}
  
@media (max-width: 575px) {
  .container {
    padding-inline: var(--gutter-small);
  }
}
  

/* ---- Components ---- */
.btn {
  font-size: 1.35rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 18px 60px;
  border-radius: var(--gutter-nano);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
  
@media (max-width: 700px) {
  .btn {
    padding: 16px 48px;
  }
}
  
@media (max-width: 485px) {
  .btn {
    font-size: 1.2rem;
    padding: 14px 38px;
  }
}
  
.btn-cta {
  color: var(--bg-color-primary);
  background-color: var(--important);
}
  
.btn-secondary {
  border: 1px solid var(--border-dark);
  color: var(--important);
}

.btn-cta:hover,
.btn-cta:focus {
  box-shadow: 0 0 10px var(--important);
}
  
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: var(--important);
}
  
/* ---- Layout ---- */
section:not(:first-child) {
  padding-block-start: var(--gutter-huge);
}
  
section:first-child {
  padding-block-start: 7rem;
}
  
@media (max-width: 885px) {
  :root {
    --gutter-huge: 8rem;
    --gutter-x-large: 4rem;
  }
}
  
main {
  border-top: 1px solid var(--border);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--bg-color-primary);
  transform: translateY(calc(-1 * var(--radius)));
}
  
@media (max-width: 1185px) {
  :root {
    --radius: 45px;
  }
}


/* ---- Bookmark ---- */
.bookmark {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
}

.bookmark-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 70px;
}

.bookmark a {
  color: white;
  text-align: center;
  padding: 0.85rem 1rem;
  text-decoration: none;
  font-size: 1.0625rem;  
}

.bookmark a:hover {
  color: rgb(241, 211, 104);
  font-weight: bold;
}

.bookmark.scrolled{
  background-color: #0c0a0a;
}

.bookmark-head{
  margin: 0 6vw;
}

.bookmark-head h2{
  font-size: 30px;
  color: rgb(241, 211, 104);
  font-weight: bold;
}

.bookmark-links{
  display: flex;
  gap: 20px;
}

.bookmark-links-container{
  padding-right: 50px;
}

.bookmark-menu {
  display: none;
}

.menu-btn{
  font-size: 1rem;
  font-weight: 700;
  height: 20px;
  width: 100px;
  border-radius: var(--gutter-nano);
  cursor: pointer;
  color: var(--bg-color-primary);
  background-color: var(--important);
  text-align: center;
}

.bookmark-toggle-links{
  max-height: 0;
  overflow: hidden;
  display: none;
}

@media (max-width: 1000px) {
  .bookmark-links{
    display: none;
  }
  
  .btn-secondary:hover,
  .btn-secondary:focus {
    border-color: var(--important);
  }

  .bookmark{
    background-color: #0c0a0a;
  }

  .bookmark-toggle-links {
    max-height: 0;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12.5vw;
    transition: max-height 0.4s ease-in-out;
    background-color: #0c0a0a;
  }
  
  .bookmark-toggle-links.open{
    display: flex;
    max-height: 500px;
  }
}

/* ---- Header ---- */
.header {
  min-block-size: calc(100vh + var(--radius));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body .header {
  background-image: linear-gradient(#1616168b, #3232328b),
    url("images/FarmsBackground.webp");
}

.animated-name {
  font-size: 4rem;
  background: linear-gradient(270deg, #ff7f50, #ff69b4, rgb(246, 246, 108), #6df66d, #ff7f50);
  background-size: 1000% 100%;
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainboxText 40s ease-in-out infinite;
}

@keyframes rainboxText {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
.header-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.header-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
  display: block;
  margin: 0 auto;
}

.h1 span {
  display: block;
}
  
.header-text {
  font-size: var(--text-large);
  font-weight: 400;
  max-inline-size: 745px;
  margin-block-start: var(--gutter-micro);
  margin-block-end: var(--gutter-medium);
}
  
@media (max-width: 1200px) {
  .header-text {
    max-inline-size: 685px;
  }
}
  
@media (max-width: 845px) {
  .header-text {
    max-inline-size: 585px;
  }
}
  
.header-btns {
  display: inline-flex;
  gap: var(--gutter-x-small);
}
  
@media (max-width: 400px) {
  .header-textbox {
    left: 0;
    text-align: center;
    padding-inline: 0.6rem;
  }
  
  .header-btns {
    flex-direction: column;
    width: 80%;
  }
}

/* ---- About ---- */
.about {
  padding-block-start: var(--gutter-huge);
}

.about h3{
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.25;
}

.about .container{
  margin-inline: auto;
  padding-inline: var(--gutter-medium);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gutter-x-large);
  padding-top: var(--gutter-large);
}

.about img{
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0,0, 0, 0.1);
  object-fit: cover;
  block-size: auto;
  margin: 0 auto;
  border: 3px solid white;
}

.about-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .about .container{

    flex-direction: column;
    max-inline-size: 845px;
    margin-inline: auto;
  }
}
  
/* ---- Project ---- */
.project{
  padding-block-start: 0;
}

.project-row{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  flex-wrap: wrap;
  gap: 0;
  margin: 0;
}

.project-column{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.project-img{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  max-width: 300px;
  border-radius: 10px;
  display: block;
  border: 4px solid white;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.project-textbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.project-text {
  text-align: center;
}

.project-text h2{
  font-size: 2.5rem;
  color: rgb(241, 211, 104);
  margin-bottom: 5px;
}

.project-text h3{
  font-size: 1.25rem;
  color: white;
  margin-bottom: 20px;
}

.project-column:hover .project-img{
  transform: scale(1.1);
  border-color: rgb(241, 211, 104);
}

.project-column:hover .project-textbox{
  opacity: 1;
}

.portfolio-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.portfolio-modal.show {
  display: flex;
}

.lock-screen {
  overflow-y: hidden;
}

/* ---- Modal ---- */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0,0,0,0.6);
  overflow-y: auto;
}

.modal-content {
  position: relative;
  margin: 70px auto 40px auto;;
  background-color: #778899;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 70px;
  padding: 30px;
}

.modal-header {
  padding-top: 50px;
  font-size: 1.5rem;
  text-align: center;
}

.modal-header h2{
  margin: 0;
  color: white;
}

.modal-body {
  padding: 30px 30px;
}

.modal-body p,
.modal-body li {
  padding-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.modal-body p {
  padding-bottom: 20px;
}

.modal-body li {
  padding-left: 20px;
}

.modal-img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgba(4, 4, 4, 0.5);
}


/* ---- Close Button ---- */
.close-btn {
  color: rgba(17, 17, 17, 0.695);
  float: right;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 35px;
  z-index: 1;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
/* ---- Skills ---- */  
.skills-imgs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--gutter-x-large);
  padding-block-start: var(--gutter-x-large);
  background-color: var(#0c0a0a);
}
  
.skills-img {
  block-size: 135px;
  inline-size: 135px;
  border: none;
  box-shadow: none;
  background: none;
  margin: 0;
  padding: 0;
}
  
@media (max-width: 1100px) {
  .skills-img {
    block-size: 100px;
    inline-size: 100px;
  }
}
  
@media (max-width: 810px) {
  .skills-img {
    block-size: 85px;
    inline-size: 85px;
  }
}
  
@media (max-width: 675px) {
  .skills-imgs {
    gap: var(--gutter-large);
  }
  
  .skills-img {
    block-size: 70px;
    inline-size: 70px;
  }
}
  
@media (max-width: 340px) {
  .skills-img {
    block-size: 55px;
    inline-size: 55px;
  }
}

/* ---- Contact ---- */
.contact-content {
  display: flex;
  gap: var(--gutter-large);
  margin-block: var(--gutter-medium);
  padding: var(--gutter-medium);
  border: 1px solid white;
  border-radius: var(--gutter-nano);
}

@media (max-width: 1032px) {
  .contact-content {
    flex-direction: column;
    max-inline-size: 845px;
    margin-inline: auto;
  }
}

.contact-textbox,
.contact-form {
  flex: 1;
  padding: var(--gutter-large) var(--gutter-small);
}

.contact-text {
  margin-block-end: var(--gutter-small);
}

.contact-form {
  background-color: var(--bg-color-secondary);
  border-radius: var(--gutter-nano);
  border-top-right-radius: var(--gutter-nano);
  border-bottom-right-radius: var(--gutter-nano);
  border: 1px solid white;
}

.form-field label,
.form-field input,
.form-field textarea {
  display: block;
  width: 100%;
}

.form-field label {
  color: var(--important);
}

.form-field input,
.form-field textarea {
  font-size: var(--text-small);
  color: var(--sub);
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.form-field input:focus,
.form-field textarea:focus,
.contact-form:focus-within{
  border-color: rgb(241, 211, 104);
}
.form-field:focus-within label{
  color: rgb(241, 211, 104);
}

.form-field input,
.form-field textarea {
  margin-block-end: var(--gutter-small);
  padding: var(--gutter-nano);
  margin-inline: var(--gutter-nano);
}

.form-field label {
  font-size: var(--text-small);
  margin-block-end: var(--gutter-nano);
  margin-inline-start: var(--gutter-nano);
}

.contact-form button[type="submit"]:hover {
  background-color: rgb(230, 200, 80);
}

.contact-form button[type="submit"] {
  border: none;
}
  
/* ---- Footer ---- */  
.footer {
  border-top: 1px solid var(--border);
  padding-block: var(--gutter-x-small);
}
  
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-large);
}
  
@media (max-width: 875px) {
  .footer-content {
    flex-direction: column-reverse;
    gap: var(--gutter-large);
    text-align: center;
  }
}
  
.footer-text {
  font-size: var(--text-large);
  text-align: center;
}
  
.footer-text a {
  color: var(--sub);
}
  
.footer-links {
  display: flex;
  justify-content: center;
  gap: var(--gutter-large);
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1040px) {
  .footer-links {
    gap: var(--gutter-large);
  }
}
  
.footer-link img {
  block-size: 50px;
  inline-size: 50px;
  display: block;
}
  
.footer-link a {
  opacity: 0.875;
  transition: 225ms ease-in opacity;
}
  
.footer-link a:hover {
  opacity: 1;
}
  
body .footer-link img {
  filter: invert(1);
}
  
input:checked {
  --thumb-position: 100%;
  background-color: var(--track-active);
}

address{
  text-align: center;
}

.address-content p{
  font-size: 20px;
  text-align: center;
  width: 80%;
  padding-left: 250px;
}

@media(max-width: 1000px){
  .address-content p{
    width: 80%;
    padding-left: 100px;
  }
}